<div class='menu-container js-menu-container' id='mobile-menu'>
  <button class='menu-close-btn js-close-menu' aria-label='menu close button'>
    <svg class='icon' width='14' height='14'>
      <use xlink:href='./images/sprite.svg#icon-close-menu'></use>
    </svg>
  </button>
  <ul class='mobile-menu'>
    <li><a href='#Modellen' class='mobile-menu__link' data-mobile-item data-link>Modellen</a></li>
    <li><a href='#Kopen' class='mobile-menu__link' data-mobile-item data-link>Kopen</a></li>
    <li>
      <a href='#Huren' class='mobile-menu__link' data-mobile-item data-link>Huren</a>
    </li>
    <li>
      <a href='#Nieuws' class='mobile-menu__link' data-mobile-item data-link>Nieuws</a>
    </li>
    <li><a href='#Contact' class='mobile-menu__link' data-mobile-item data-link>Contact</a></li>
  </ul>
</div>
