<section class='materials'>
  <div class='container materials__container'>
    <div class='materials__content'>
      <h2 class='materials__title'>Duurzame materialen</h2>
      <p class='materials__description'>Alle EcoCabins hebben een hoge isolatiewaarde, worden geproduceerd met indien
        mogelijk duurzame en/of natuurlijke materialen en hebben als opvallende uiterlijke kenmerk de ‘ronde hoeken’,
        mogelijk gemaakt door het specifieke materiaalgebruik. De voordelen van bouwen met hout zijn legio: hout is
        licht, flexibel, isoleert goed en bouwt snel en efficiënt. </p>
      <button type='button' class='materials__btn'>Lees meer</button>
    </div>
    <div class='materials__swiper'>
      <div class='materials__gallery'>
        <div class='swiper-wrapper'>
          <div class='materials__slide swiper-slide'>
            <img src="./images/materials/01.jpg" alt="materials" />
          </div>
          <div class='materials__slide swiper-slide'>
            <img src="./images/materials/02.jpg" alt="materials" />
          </div>
          <div class='materials__slide swiper-slide'>
            <img src="./images/materials/03.jpg" alt="materials" />
          </div>
          <div class='materials__slide swiper-slide'>
            <img src="./images/materials/04.jpg" alt="materials" />
          </div>
        </div>
        <div class="materials__pagination swiper-pagination"></div>
      </div>
      <!-- Handlebars template here -->
    </div>
  </div>
</section>