.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 21.5px;

    &:not(:last-child) {
      margin-right: 40px;
    }

    &:hover,
    &:active {
      border-radius: 4px;
      background: #FFF;
      padding: 10px 21.5px;
      color: #606B74;

      .menu__link {
        color: #606B74;
      }
    }
  }

  &__link {
    color: #FFF;
    text-align: center;
    font-family: Rubik, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(12 / 12);
    text-transform: capitalize;
  }
}
