.header {
  width: 100%;
  position: fixed;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: inherit;

  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    margin-left: auto;
  }
}